* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h5 {
  margin-bottom: 0 !important;
}

.nav-top-left {
  margin: auto;
}
.nav-top-right {
  margin-right: auto;
}

.nav-top-left a {
  border-left: 1px solid #c3c6d1;
}
.navbar-nav {
  margin-left: auto;
  font-size: 19px;
  color: #dfb144 !important;
}
.navbar-brand {
  margin-left: 10%;
}
.nav-link {
  color: #dfb144 !important;
}
.nav-link:hover {
  color: #000000 !important;
}
.logo-img {
  width: 300px;
  height: 85px;
}
@media (max-width: 1024px) {
  .logo-img {
    width: 200px;
    height: 57px;
  }
}

@media (max-width: 992px) {
  .logo-img {
    width: 200px;
    height: 57px;
  }
}

@media (max-width: 768px) {
  .logo-img {
    width: 175px;
  }
  .navbar-brand {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 576px) {
  .logo-img {
    width: 125px;
  }
  .navbar-brand {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.w-100 {
  height: 100vh;
  animation: fadeIn 2s;
  object-fit: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.line {
  width: 100%;
  background-color: #ffffff;
  height: 1.2px;
}

.one-carousel-caption {
  border-radius: 10px;
  margin-right: 40%;
  margin-bottom: 6%;
  opacity: 0;
  animation: fadeEffect 2s 1s forwards;
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-outline-dark {
  border-radius: 45px !important;
  color: white !important;
  border-color: #dfb144 !important;
}

.btn-outline-dark:hover {
  background-color: #dfb144 !important;
  border-color: #dfb144 !important;
  border-radius: 45px;
}
@media (max-width: 1024px) {
  .one-carousel-caption {
    margin-right: 0;
    margin-bottom: 2%;
  }
}
@media (max-width: 768px) {
  .one-carousel-caption {
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media (max-width: 576px) {
  .one-carousel-caption {
    margin-bottom: 4%;
  }
  .one-carousel-caption h5 {
    font-size: 17px !important;
    display: block !important;
  }
  .one-carousel-caption p {
    font-size: 15px !important;
  }
}
@media (max-width: 576px) {
  .one-carousel-caption {
    margin-bottom: 4%;
  }
  .one-carousel-caption h5 {
    font-size: 17px !important;
    display: block !important;
  }
  .one-carousel-caption p {
    font-size: 15px !important;
  }
}
.main-box {
  padding: 0px 25px 25px 25px;
  background-color: #f8f9fa;
}
.section-one {
  padding-left: 35px;
  padding-top: 3%;
}
.section-one p {
  padding-left: 90px;
}
.section-one i {
  padding-top: 20px;
}
.btn-primary {
  background-color: #00000000 !important;
  border-color: #dfb144 !important;
  padding-top: 100px;
  color: #000000 !important;
}
.btn-primary:hover {
  color: #ffffff !important;
  background-color: #dfb144 !important;
  border-color: #dfb144 !important;
}
.section-two {
  padding-left: 70px;
  padding-top: 2%;
}
.head-title h2 {
  text-transform: uppercase;
}
.Y-Line {
  width: 100px;
  height: 2px;
  background-color: #dfb144;
  margin: 0 auto;
}

h3 {
  text-transform: uppercase;
}
.YS-Line {
  width: 70px;
  height: 1.4px;
  background-color: #dfb144;
  margin: 0 auto;
}
.image-parent,
.parent-detail {
  padding: 20px;
}
.circle-image {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .circle-image {
    width: 400px;
    height: 400px;
  }
  .image-parent {
    padding: 125px 55px;
  }
}

@media (max-width: 768px) {
  .circle-image {
    width: 300px;
    height: 300px;
  }
  .image-parent {
    padding: 20px 55px;
  }
}
@media (width: 768px) {
  .circle-image {
    width: 300px;
    height: 300px;
  }
  .image-parent {
    padding: 20px 200px;
  }
}

@media (max-width: 425px) {
  .circle-image {
    width: 200px;
    height: 200px;
  }
  .image-parent {
    padding: 10px 80px;
  }
}
.fa-beat-fade {
  font-size: 70px;
}
.child-detail1,
.child-detail2,
.child-detail3 {
  display: none;
  padding: 10px 0px;
}
.fonts-5 {
  font-size: 14px;
  padding: 23px 0px;
}
.child-icon-commitment1,
.child-icon-commitment2,
.child-icon-commitment3 {
  padding: 40px;
  font-size: 80px;
  background-color: #172b4a;
  color: #ffffff !important;
  text-align: center;
}

.child-icon-commitment1:hover,
.child-icon-commitment2:hover,
.child-icon-commitment3:hover {
  background-color: #dfb144;
  color: #ffffff !important;
}

.pppp {
  margin-top: -3rem !important;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .child-icon-commitment1,
  .child-icon-commitment2,
  .child-icon-commitment3 {
    padding: 30px;
    font-size: 60px;
  }

  .pppp {
    margin-left: 0 !important;
    margin-top: 1rem !important;
  }
}
.icon-text {
  margin-top: -3rem !important;
  margin-left: 120px !important;
  color: white;
  text-transform: uppercase;
}
#second-carousel-caption {
  border-radius: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  opacity: 0;
  animation: fadeEffect 0s 0s forwards;
}
@media (max-width: 768px) {
  #second-carousel-caption {
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media (max-width: 576px) {
  #second-carousel-caption {
    margin-bottom: 4%;
  }
}
.fa-comment {
  font-size: 50px;
}
#carousel-control-prev-icon1,
#carousel-control-next-icon1 {
  padding: 30px;
  border: 2px solid white;
  border-radius: 45px;
}
#carousel-control-prev-icon1:hover,
#carousel-control-next-icon1:hover {
  background-color: #dfb144 !important;
  border: 4px solid #dfb144;
}
.contact-number {
  background-color: #dfb144;
}
.fa-whatsapp {
  border: 2px solid white;
  padding: 21px 32px;
  background-color: white;
  font-size: 70px;
  border-radius: 50%;
  width: 125px;
  height: 120px;
}
.fa-envelope-circle-check {
  border: 2px solid white;
  padding: 21px 24px;
  background-color: white;
  font-size: 70px;
  border-radius: 50%;
  width: 125px;
  height: 120px;
}
.fa-location-dot {
  border: 2px solid white;
  padding: 21px 35px;
  background-color: white;
  font-size: 70px;
  border-radius: 50%;
  width: 125px;
  height: 120px;
}
.child-contact {
  margin: 36px 25px;
}
.child-contact1 {
  margin: 34px 14px;
}
.child-contact2 {
  margin: 32px 20px;
}
.F-Line {
  width: 70px;
  height: 2px;
  background-color: #dfb144;
  margin: auto 0;
}
.image-blog {
  width: 165px;
  height: 100px;
}

.post-data {
  display: flex;
  flex-direction: column;
}

.post-1,
.post-2 {
  display: flex;
  align-items: center;
}

.image-blog {
  margin-right: 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-content h6 {
  margin: 0;
}

.post-content p {
  margin-top: 5px;
}
